.about_us_information {
  color: var(--main-color);
  font-family: var(--font-family-main);
  font-size: 15px;
  text-align: center;;
  margin-left: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-right: 80px;
  margin-left: 80px;
  & > h2 {
    font-size: 60px;
    font-family: var(--font-family-main);
  }
  & > a {
    text-decoration: none;
    color: var(--main-color)
  }
  .about_message {
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    text-align: left;
    .tournament_text {
      font-family: var(--font-family-secondary);
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .seven_hills_tournament {
      font-size: 18px;
      font-weight: bold;
      color: #00ff7f;
    }
    & > p {
      font-size: 20px;
      font-family: var(--font-family-secondary);
    }
  }
  .winners {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #00ff7f;
    text-align: left;
    font-weight: bold;
  }
  .winners_names {
    text-align: left;
    margin-top: 30px;
    font-weight: bold;
    & > ul li {
      list-style: none;
      margin-top: 5px;
    }
  }
}
