.about_us_information {
  color: #0c0c0c;
  font-family: var(--font-family-main);
  font-size: 15px;
  text-align: center;
  background-color: #FFFFFF;
  margin-left: 10px;
  border-radius: 15px;
  border: 2px solid #515151;
}
