.contacts {
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 5px;
  width: 100%;
  .contacts_header {
    font-size: 40px;
    font-family: var(--font-family-main);
  }
  .a {
    text-decoration: none;
    color: var(--main-color)
  }
  .contacts_information {
    margin-top: 40px;
    display: flex;
    padding: 10px;
    margin-bottom: 40px;
    @media (max-width: 1400px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .contacts_footer {
    margin-bottom: 20px;
  }
}
