.qualifications {
  color: var(--main-color);
  margin-top: 20px;
  .wrapper {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
  }
  .segments {
    margin: 20px;
  }
}

