.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0,0.5);
    z-index: 10;
}

.modal_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--font-family-main);
    text-align: center;
    font-size: 25px;
    align-items: center;
    padding: 20px;
    background: white;
    border-radius: 16px;
    color: #070707;
    max-width: 500px;
    height: 350px;
    @media (max-width: 576px) {
        font-size: 15px;
        max-width: 300px;
        height: 250px;
    }
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
