.regulation {
  padding: 150px 300px 0 300px;
  .rules, .forbidden, {
    font-family: var(--font-family-main);
    color: var(--main-color);
    margin-top: 40px;
    line-height: 40px;
    li {
      list-style: none;
    }
  }
}