.hamburger_menu {
    position: absolute;
    right: 50px;
    top: 50px;
    justify-content: space-between;
    z-index: 2;
    width: 40px;
    height: 40px;
    cursor: pointer;
    @media (max-width: 1400px) {
        right: 30px;
        top: 30px;
    }
    @media (max-width: 768px) {
        right: 25px;
        top: 45px;
    }
    @media (max-width: 576px) {

    }
    & > span {
        display: block;
        top: 50%;
        position: absolute;
        width: 40px;
        height: 4px;
        background-color: #ffffff;
    }

    & > span:before {
        content: '';
        display: block;
        width: 40px;
        height: 4px;
        background-color: var(--main-color);
        transition: 0.3s;
        transform: translateY(-15px);
    }
    & > span:after {
        content: '';
        display: block;
        width: 40px;
        height: 4px;
        background-color: var(--main-color);
        transition: 0.3s;
        transform: translateY(10px);
    }
    &:hover > span:before {
        transition: 0.5s;
        transform: translateY(-7px);
    }
    &:hover > span:after {
        transition: 0.5s;
        transform: translateY(3px);
    }
}


@media (max-width: 768px) {
    .hamburgerMenu {
        right: 20px;
        top: 20px;
    }

    .hamburgerPart {
        height: 2px;
    }
}
