.hamburgerMenu {
    position: absolute;
    right: 50px;
    top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 2;
}

.hamburgerPart {
    width: 26px;
    height: 3px;
    margin-top:9px;
    background-color: white;
}

@media (max-width: 768px) {
    .hamburgerMenu {
        right: 20px;
        top: 20px;
    }

    .hamburgerPart {
        height: 2px;
    }
}