.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  display: flex;
  overflow: hidden;
  transition: all 0.2s;
}

.menu_active {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  transition: all 0.2s;
  z-index: 5;
}

.blur {
  height: 100%;
  width: 87%;
  backdrop-filter: blur(2px);
}

.menu_content {
  background-color: #f0f8ff;
  width: 13%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
  & > ul {
    list-style: none;
  }
}
