.tournament {
    color: var(--main-color);
    margin-top: 140px;
    margin-left: 50px;
}

.esports {
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 24px;
    font-family: var(--font-family-main);
}

.esports_name {
    margin: 7px 0 0 0;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 200px;
    line-height: 145px;
    font-family: var(--font-family-main);
}

.tournament_logo {
    margin-left: 10px;
    margin-bottom: 120px;
}

.prizePool {
    margin-top: 100px;
    width: 470px;
    height: 60px;
    border: 1px solid #535353;
    border-radius: 37px;
    padding: 1px 17px 1px 17px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    font-family: var(--font-family-secondary);
}

.ticker {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.prizePool p {
    font-size: 18px;
    line-height: 1px;
    color: #7EAF16;
    font-family: var(--font-family-secondary);
    margin-left: 4px;
    margin-right: 4px;
}

.prizePool img {
    margin-left: 7px;
}

.tournament_info {
    /*width: 410px;*/
    margin-top: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    font-family: var(--font-family-secondary);
    color: var(--main-color);
}

.p {
    padding-left: 240px;
}

.tournament_info p {
    margin: 0;
}

@media (max-width: 1400px) {

    .esports_name {
        font-size: 130px;
    }

    .esports {
        font-size: 20px;
    }
}

@media (max-width: 1200px) {
    .esports_name {
        font-size: 100px;
    }

    .esports {
        font-size: 20px;
    }

   .prizePool  {
       font-size: 14px;
       width: 320px;
   }

    .prizePool p {
        font-size: 14px;
    }

    .tournament_info {
        font-size: 8px;
    }
}

@media (max-width: 992px) {
    .tournament {
        display: flex;
        align-items: center;
        flex-direction: column;
    }


    .tournament_info {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0px;
        margin-top: 50px;
    }

    .p {
        padding-left: 0px;
    }
}
