.tournament_information {
  margin-top: 80px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  font-family: var(--font-family-secondary);
  color: var(--main-color);
  @media (max-width: 1800px) {
    font-size: 15px;
  }
  @media (max-width: 1600px) {
    font-size: 12px;
  }
  @media (max-width: 1400px) {
    margin-bottom: 40px;
    font-size: 25px;
    line-height: 40px;
  }
  @media (max-width: 900px) {
    font-size: 20px;
  }
  @media (max-width: 768px) {
    font-size: 15px;
    line-height: 20px;
  }
  @media (max-width: 576px) {
    font-size: 13px;
    margin-top: 50px;
  }
  @media (min-width: 0) and (max-width: 576px)  {
    margin-top: 30px;
    font-size: 10px;
  }


  & > p:not(:last-child) {
    padding-left: 160px;
    @media (max-width: 1600px) {
      padding-left: 120px;
    }
    @media (max-width: 1400px) {
      padding-left: 90px;
    }
    @media (max-width: 768px) {
      padding-left: 50px;
    }
    @media (min-width: 0) and (max-width: 576px)  {
      padding-left: 35px;
    }
  }
}


.vkLink {
  text-align: center;
  cursor: pointer;
  & > a {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-decoration: none;
    font-family: var(--font-family-main);
    color: white;
    background-image: linear-gradient(
                    to right,
                    #00ff7f 50%,
                    #ffff 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    &:before {
      content: '';
      background: #00ff7f;
      display: block;
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0;
      height: 3px;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      background-position: 0;
      &:before {
        width: 100%;
      }
    }
  }

}
