.tournament_section {
  color: var(--main-color);
  margin-top: 140px;
  margin-left: 50px;
  @media (max-width: 1400px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  @media (max-width: 768px) {
    margin-left: 20px;
  }

}





