.tournament_description {
  font-weight: 400;
  font-size: 27px;
  line-height: 26px;
  font-family: var(--font-family-main);
  @media (max-width: 1800px) {
    font-size: 20px;
  }
  @media (max-width: 1600px) {
    font-size: 16px;
  }
  @media (max-width: 1400px) {
    font-size: 40px;
  }
  @media (max-width: 768px) {
    font-size: 30px;
  }
  @media (max-width: 576px) {
    font-size: 25px;
  }
}

.tournament {
  display: flex;
  align-items: center;
}

h1 {
  font-weight: 400;
  font-size: 150px;
  line-height: 145px;
  font-family: var(--font-family-main);
  @media (max-width: 1800px) {
    font-size: 130px;
  }
  @media (max-width: 1600px) {
    font-size: 100px;
  }
  @media (max-width: 1400px) {
    margin-top: 10px;
    font-size: 160px;
  }
  @media (max-width: 768px) {
    font-size: 120px;
  }
  @media (max-width: 576px) {
    font-size: 100px;
  }
}

.tournament_diamond {
  width: 30px;
  height: 30px;
  background-color: var(--main-color);
  transform: rotate(45deg);
  margin-bottom: 160px;
  @media (max-width: 1600px) {
    width: 20px;
    height: 20px;
    margin-bottom: 100px;
  }
  @media (max-width: 576px) {
    width: 15px;
    height: 15px;
  }
}
