.tournament_roadmaps {
  color: var(--main-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
  .roadmap_header {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &> h2 {
      font-size: 50px;
      font-family: var(--font-family-main);
    }
    .roadmap_logo {
      width: 100px;
      height: 100px;
      & > img {
        width: 100%;
        height: 100%;
      }
    }
  }

  p {
    color: #0c0c0c;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
  }

  .tournament_roadmap {
    font-family: var(--font-family-main);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  .qualification {
    background-color: var(--main-color);
    width: 200px;
    height: 50px;
    .dates {
      margin-top: 40px;
      color: var(--main-color);
    }
  }
  .group_stage {
    background-color: var(--main-color);
    width: 200px;
    height: 50px;
    .dates {
      margin-top: 40px;
      color: var(--main-color);
    }
  }
  .playoffs {
    background-color: var(--main-color);
    width: 200px;
    height: 50px;
    .dates {
      margin-top: 40px;
      color: var(--main-color);
    }
  }
  .final {
    background-color: var(--main-color);
    width: 200px;
    height: 50px;
    .dates {
      margin-top: 40px;
      color: var(--main-color);
    }
  }
  .arrow_icon {
    position: relative;
    width: 100px;
    border-radius: 4px;
    height: 4px;
    background-color: var(--main-color);
    margin-right: 10px;
    margin-left: 10px;
    &:after {
      display: inline-block;
      content: '';
      width: 30px;
      border-radius: 4px;
      height: 4px;
      background-color: var(--main-color);
      transform: rotate(45deg);
      position: absolute;
      right: -6px;
      bottom: 10px;
    }
    &:before {
      display: inline-block;
      content: '';
      width: 30px;
      border-radius: 4px;
      height: 4px;
      background-color: var(--main-color);
      transform: rotate(-45deg);
      position: absolute;
      right: -6px;
      bottom: -10px;
    }
  }
  .tournament_dates {
    margin-top: 30px;
    font-size: 20px;
    width: 55%;
    font-family: var(--font-family-main);
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
  }
  .buttons_sections {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
  }
  .a {
    text-decoration: none;
    color: var(--main-color)
  }
}
