.tournament_brackets {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(34,156,107,1) 70%, rgba(0,255,127,1) 88%, rgba(21,153,87,1) 96%);
  &_content {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
  }
  h2 {
    margin-top: 20px;
    color: var(--main-color);
    font-size: 30px;
    font-family: var(--font-family-secondary);
    margin-bottom: 30px;
  }
  h4 {
    font-family: var(--font-family-main);
    font-size: 25px;
  }
  &_footer {

  }
}
