.regulation_common {
  font-size: 20px;
  color: #FFFFFF;
  .text_fragment {
    font-size: 20px;
    font-family: var(--font-family-secondary);
    display: flex;
    gap: 5px;
    .number {
      font-weight: bold;
      font-size: 20px;
    }
  }
}
