.dotaFormRegistration {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  & > h2 {
    font-size: 40px;
    font-family: var(--font-family-secondary);
  }
  .form {
    margin-top: 20px;
    width: 470px;
    border: 2px solid wheat;
    padding: 20px;
    background-color: #272727;
    margin-bottom: 40px;
  }
  .steam_form_section {
    display: flex;
    flex-direction: column;
    & > textarea {
      background-color: #272727;
      color: gray;
      padding: 1px;
      letter-spacing: 1px;
      height: 100px;
      border: none;
      font-size: 15px;
    }
    & > label {
      margin-bottom: 10px;
      font-family: var(--font-family-secondary);
      font-size: 20px;
    }
  }
  .form_section {
    display: flex;
    flex-direction: column;
    & > input {
      background-color: #272727;
      color: gray;
      padding: 1px;
      letter-spacing: 1px;
      height: 30px;
      border: none;
      font-size: 15px;
    }
    & > label {
      margin-bottom: 10px;
      font-family: var(--font-family-secondary);
      font-size: 20px;
    }
    .registration_border {
      width: 400px;
      height: 5px;
      color: #7EAF16;
      margin-top: 5px;
    }
  }
  .form_ckeckboxes {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;
    .agreement {
      margin-bottom: 10px;
      & > input {
        margin-right: 10px;
        &:checked {
          color: #7EAF16;
        }
      }
      & > label {
        cursor: pointer;
      }
    }
  }
  .registation_footer {
    display: flex;
    justify-content: space-between;
  }
}
