.dota_tournament_braket {
  padding-top: 40px;
  &_header {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  &_groups {

  }
  &_footer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .fifa_menu {
    display: flex;
    justify-content: center;
    gap: 40px;
    & > li {
      list-style: none;
    }
    & > li > a {
      text-decoration: none;
      color: var(--main-color);
      background-color: #7EAF16;
      padding: 15px;
      border-radius: 20px;
    }
  }
  .active_link {
    color: burlywood !important;
    background-color: rebeccapurple !important;
  }
}
