@import url("fonts/neue machina/stylesheet.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --font-family-main: 'NeueMachina-Regular', sans-serif;
    --font-family-secondary: 'Open Sans', sans-serif;
    --main-color: #FFFFFF;
    --bg-color: #0c0c0c;
    --secondary-color: #00ff7f;
}


body {
    background-color: var(--bg-color);
}

h1 {
    color: var(--main-color);
}

.app {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    @media (max-width: 1400px) {
        flex-direction: column;
    }
}

@media (max-width: 992px) {
    .app {
        flex-direction: column;
    }
}
