@import url("fonts/neue machina/stylesheet.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --font-family-main: 'Neue Machina';
    --font-family-secondary: 'Open Sans', sans-serif;
    --main-color: #FFFFFF;
    --bg-color: #0c0c0c
}


body {
    background-color: var(--bg-color);
    margin: 0px;
    padding: 0px;
}

h1 {
    color: var(--main-color);
}

.app {
    display: flex;
    justify-content: space-between;
}
