@import url("fonts/neue machina/stylesheet.css");

:root {
    --family: 'Neue Machina';
    --main-color: #FFFFFF;
    --bg-color: #0c0c0c
}


body {
    background-color: var(--bg-color);
    margin: 0px;
    padding: 0px;
}

h1 {
    color: var(--main-color);
}

.app {
    display: flex;
    justify-content: space-between;
}