.disciplines {
    width: 50%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 77% 77%;
}

.disciplines p {
    margin: 0px;
    color: var(--main-color);
}

.dota {
    border: 1px solid #616161;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    opacity: 1;

}
.dota:hover {
    background-image: url("../Assets/img-for-disciplines/barathrum.png");
    background-size: cover;
    transform: scaleX(-1);
    /*transition: opacity 0.5s ease ;*/
    /*animation-name: Appearance;*/
    /*animation-duration: 3s;*/
    /*animation-timing-function: cubic-bezier(.1,-.6,.2,0);*/
}


/*Допилить плавное появление картинки */

/*@keyframes Appearance {*/
/*    0% {opacity: 0;}*/
/*    100% {opacity: 1;}*/
/*}*/

.csgo {
    border: 1px solid #616161;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

/*.csgo:hover {*/
/*    background-image: url("../Assets/img-for-disciplines/csgo.png");*/
/*    background-size: cover;*/
/*}*/

.valorant {
    border: 1px solid #616161;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.valorant:hover {
    background-image: url("../Assets/img-for-disciplines/valorant.png");
    background-size: cover;
}

.fifa {
    border: 1px solid #616161;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.fifa:hover {
    background-image: url("../Assets/img-for-disciplines/fifa.png");
    background-size: cover;
}


.arrow {
    width: 14px;
    height: 14px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 992px) {
    .disciplines {
        width: 100%;
        margin-top: 30px;
        grid-template-rows: 500% 500%;
    }
}

@media (max-width: 576px) {
    .disciplines {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .dota, .csgo, .valorant, .fifa {
        height: 500px;
    }
}
