.disciplines {
    color: white;
    display: grid;
    grid-template-columns: 450px 450px;
    grid-template-rows: 467px 467px;
}

.disciplines p {
    margin: 0px;
}

.dota {
    border: 1px solid #616161;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.dota:hover {
    background-image: url("../Assets/disciplines/barathrum.png");
    background-size: cover;
}

.csgo {
    border: 1px solid #616161;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.valorant {
    border: 1px solid #616161;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.fifa {
    border: 1px solid #616161;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.arrow {
    width: 14px;
    height: 14px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}