.disciplines {
    width: 50%;
    color: white;
    display: grid;
    grid-template-columns: 450px 450px;
    grid-template-rows: 467px 467px;
}

.disciplines p {
    margin: 0px;
}

.dota {
    border: 1px solid #616161;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;

}
.dota:hover {
    background-image: url("../Assets/disciplines/barathrum.png");
    background-size: cover;
    animation-name: Appearance;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.1,-.6,.2,0);
}


/*Допилить плавное появление картинки */

@keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.csgo {
    border: 1px solid #616161;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

/*.csgo:hover {*/
/*    background-image: url("../Assets/disciplines/csgo.png");*/
/*    background-size: cover;*/
/*}*/

.valorant {
    border: 1px solid #616161;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

/*.valorant:hover {*/
/*    background-image: url("../Assets/disciplines/valorant.png");*/
/*    background-size: cover;*/
/*}*/

.fifa {
    border: 1px solid #616161;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

/*.fifa:hover {*/
/*    background-image: url("../Assets/disciplines/fifa.png");*/
/*    background-size: cover;*/
/*}*/


.arrow {
    width: 14px;
    height: 14px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}