.header {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 50px;
    margin-top: 32px;
    @media (max-width: 768px) {
        margin-left: 20px;
    }
    @media (max-width: 576px) {
        margin-left: 5px;
    }
    .Sevenhills_logo {
        width: 250px;
        height: 80px;
        @media (max-width: 950px) {
            width: 220px;
            height: 50px;
        }
        @media (max-width: 850px) {
            width: 200px;
            height: 40px;
        }
        @media (max-width: 690px) {
            width: 150px;
            height: 30px;
        }
        @media (max-width: 576px) {
            width: 120px;
            height: 30px;
        }
        @media (max-width: 430px) {
            width: 110px;
            height: 30px;
        }
        @media (min-width: 0) and (max-width: 390px) {
            width: 100px;
            height: 20px;
        }
        & > img {
            width: 100%;
            height:100%;
            object-fit: contain;
        }
    }
    .mfp {
        width: 250px;
        height: 100px;
        margin-left: 30px;
        @media (max-width: 1700px) {
            margin-left: 10px;
        }
        @media (max-width: 950px) {
            width: 220px;
            height: 50px;
        }
        @media (max-width: 850px) {
            margin-left: 0;
            width: 200px;
            height: 40px;
        }
        @media (max-width: 690px) {
            width: 150px;
            height: 30px;
        }
        @media (max-width: 576px) {
            width: 120px;
            height: 30px;
        }
        @media (max-width: 430px) {
            width: 110px;
            height: 30px;
        }
        @media (min-width: 0) and (max-width: 390px) {
            width: 100px;
            height: 20px;
        }

        & > a > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .moscow_text {
        width: 280px;
        height: 100px;
        margin-left: 30px;
        @media (max-width: 1700px) {
            margin-left: 10px;
        }
        @media (max-width: 950px) {
            width: 250px;
            height: 70px;
        }
        @media (max-width: 850px) {
            margin-left: 0;
            width: 220px;
            height: 60px;
        }
        @media (max-width: 690px) {
            width: 160px;
            height: 50px;
        }
        @media (max-width: 576px) {
            width: 140px;
            height: 45px;
        }
        @media (max-width: 430px) {
            width: 120px;
            height: 30px;
        }
        @media (min-width: 0) and (max-width: 390px) {
            width: 100px;
            height: 30px;
        }
        & > a > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
