.header {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 50px;
    margin-top: 42px;
}

.organizer {
    border: 0.3px solid #868686;
    width: 102px;
    height: 18px;
    border-radius: 2px;
    margin-left: 30px;
    color: white;
    font-size: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.border {
    width: 8px;
    height: 0px;
    border: 0.2px solid #515151;
    transform: rotate(90deg);
}
