.tournament {
    color: white;
    margin-top: 83px;
    margin-left: 53px;
}

.esports {
    width: 180px;
    height: 17px;
    font-size: 30px;
    line-height: 17px;
    margin: 0px;
    font-family: "Neue Machina";
}

.esports_name {
    display: flex;
    align-items: center;
    width: 418px;
    height: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 140px;
    line-height: 100px;
    margin: 0px;
    margin-top: 15px;
    font-family: "Neue Machina";
}

.tournament_logo {
    margin-left: 10px;
    margin-bottom: 120px;
}

.prizePool {
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 420px;
    border: 1px solid #535353;
    border-radius: 37px;
    padding: 1px 17px 1px 17px;
    font-size: 25px;
    font-family: "Neue Machina";
}

.prizePool p {
    font-size: 18px;
    line-height: 1px;
}

.prizePool img {
    margin-left: 7px;
}

.tournament_info {
    margin-top: 100px;
    width: 400px;
    height: 50px;
    font-family: "Neue Machina";
}