.tournament {
    color: white;
    margin-top: 83px;
    margin-left: 53px;
}

.esport {
    width: 180px;
    height: 17px;
    font-size: 18px;
    line-height: 17px;
    margin: 0px;
    font-family: "Neue Machina";
}

.esport_tournament {
    width: 418px;
    height: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 104px;
    line-height: 100px;
    margin: 0px;
}

.esport_name {
    display: flex;
    align-items: center;
}

.tournament_logo {
    margin-left: 3px;
    margin-bottom: 82px;
}