.tournament {
    color: white;
    margin-top: 83px;
    margin-left: 53px;
}

.esport {
    width: 180px;
    height: 17px;
    font-size: 18px;
    line-height: 17px;
    margin: 0px;
    font-family: "Neue Machina";
}

.esport_tournament {
    width: 418px;
    height: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 104px;
    line-height: 100px;
    margin: 0px;
}

.esport_name {
    display: flex;
    align-items: center;
}

.tournament_logo {
    margin-left: 3px;
    margin-bottom: 82px;
}

.prizePool {
    display: flex;
    align-items: center;
    margin-top: 17px;
    width: 307px;
    border: 1px solid #535353;
    border-radius: 37px;
    padding: 1px 17px 1px 17px;
}

.prizePool p {
    font-size: 18px;
    line-height: 1px;
}

.prizePool img {
    margin-left: 7px;
}

.tournament_info {
    margin-top: 100px;
    width: 400px;
    height: 50px;
}